<center>
	
{% extends "base.html" %}
</center>


<div class="card">
{% block content %}
	<div class="row">
		<div class="col-2">
			<!-- user profile -->
			<div class="card">
				<h2> Profile </h2>
				{{user.username}} <br>
				{{user.email}} <br>
				<a href=""> Friends </a>
			</div>
		</div>

		<div class="col-6">
			<div class="row card">
				
					<h3>{{user.username}} Friends </h3> 	
					{% for frd in user.friends %}
						
						<div class="col-6 card-columns">
							<a href="{{ url_for('user', user_id=frd.id) }}"> <h3>{{frd.username}} </h3> </a>	
						</div>
					{% endfor %}
				
				
							
			</div>
			
		</div>





		<div class="col-4">
			<form class="card"  method="POST" name="friendform">
				{{form.hidden_tag() }} <br>          
	          	<div class="col-auto">
                    <i class="fas fa-search h4 text-body"> Find Friends </i>
                </div>
	            <div class="card-body row no-gutters align-items-center">
	                <!--end of col-->
	                <div class="col">
						{{form.key(**{'class':'form-control form-control-lg form-control-borderless'})}}
	                </div>
	                <!--end of col-->
	                <div class="col-auto">
	                    <button class="btn btn-lg btn-success" type="submit">Search</button>
	                </div>
	                <!--end of col-->
	            </div>
	        </form>
	        {% if title == 'search'%}
				{% for user in users %}
					{% if user.username != current_user.username %}
						<div class="card">												
						    <div class="card-body">						      					        
						        <h2>
						        	<a class="article-title" href="{{ url_for('user', user_id=user.id) }}">
						        	{{ user.username }}</a>
						        </h2>
						    </div>					   	
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
	
{% endblock %}